
<%= render 'books/list', books: @books %>

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<% @books.each do |book| %>
  <div>
    <%= image_tag book.user.get_profile_image(100,100) %>
    <%= link_to book_path(book.id) do %>
      <%= book.title %>
    <% end %>
    <%= book.body %>
    <%= book.user.name %>
  </div>
 <% end %>