<div>

  <%= image_tag @book.user.get_profile_image(100,100) %></p>
  <%= @book.user.name %>
  <%= @book.title %>
  <%= @book.body %></p>

  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book.id) %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>

</div>


